.coucou{
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
.tog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  
}
.lesa{
    text-decoration: none;
    color: skyblue;
    margin-top: 50px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}
.image{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 50px;
 
}
.images{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 50px;
 
}
.titre{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
.form{

    display: flex;
    flex-direction: column;
}
@media screen and (max-width:450px) {
    .image{
        width: 100%
    }
    .images{
        width: 100%
    }
    .tog{
        width: 100%;
    }
}